<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <title>Title</title>
</head>

<body>
    <div th:replace="~{ /header.html :: header }"></div>

    <h3> 게시물 전체 출력 </h3>
    <a href="/board/write"> 글쓰기 </a>

    <table class="table">
        <thead>
          <tr> <th> 게시물 번호  </th> <th> 제목  </th> <th> 작성자  </th> <th> 작성일  </th> <th> 조회수  </th>  </tr>
          
        </thead>
        <tbody class ="board">
            
            <tr> <th> 1  </th> <th><a href="/board/detail?bno=1"> 아</a>  </th> <th> 가  </th> <th> 2024-11-11  </th> <th> 1  </th>  </tr>
            
            
            <tr> <th> 2  </th> <th><a href="/board/detail?bno=2"> 가 </a>  </th> <th> 나  </th> <th> 2024-11-12  </th> <th> 2  </th>  </tr>
          
        </tbody>

        <tbody id="boardTbody">
           
        <script src="/js/board/all.js"></script>
    <div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>