<!DOCTYPE html>
    <html>
    <head>
      <meta charset='utf-8'>
      <title>Page Title</title>
      <link href="/css/detailcall.css" rel="stylesheet" />
      <!-- 부트스트랩 CSS -->
     
    </head>
    <body>
      <div th:replace="~{ /header.html :: header }"></div>
    <h3> 게시물 상세 출력 페이지 </h3>
    <div class="viewBox">
        <div class="bcName"> ( 카테고리명 ) </div>
        <div class="etcBox"> (작성자) , ( 조회수 ) , ( 작성일 ) </div>
        <div class="bTitle"> 안녕하세요1 (제목구역) </div>
        <div class="bContent"> 내용 (내용구역) </div>
        <div class="bFile"> 첨부파일( 첨부파일구역 )</div>
        <div class="btnBox">

        </div>

        <div>
          <textarea class="brcontent"></textarea>
          <button type="button " onclick="onReplyWrite()">댓글등록</button>
        </div>


        <div class="replyPrintBox">
      
        </div>

    </div>
      
    
      <!-- 부트스트랩 JS -->
     
      <script src="/js/board/detailcall.js"></script>
      <!-- <script src="/js/board/category.js"></script> -->
      <div th:replace="~{ /footer.html :: footer }"></div>
    </body>
    </html>
