<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{ /header.html :: header }"></div>

회원가입 페이지
<form>
    아이디 : <input id="id" onkeyup="idCheck()" />
    <div class="idCheckBox"></div>

    
    비밀번호 : <input onkeyup="pwCheck()" id="pw" type="text"/> <br/>   
    비밀번호 확인 : <input onkeyup="pwCheck()" id="pwConfirm" type="text" /> 
    <div class="pwCheckBox" ></div>


    이름 : <input onkeyup="nameCheck()" id="name"/> <br/>
    <div class="nameCheckBox"></div>

    연락처 : <input   onkeyup="phoneCheck()" id="phone"/> <br/>
    <div class="phoneCheckBox"></div>

    이메일 : <input onkeyup="emailCheck()" id = "email"/> <br/>

<button class="authBtn" type="button" onclick="doAuth()" disabled > 인증요청 </button>
<div class="authBox"></div>
    <div class="emailCheckBox"></div>

  

    <button type="button" onclick="doSignup()">회원가입</button>
</form>


<script src="/js/member/signup.js"></script>

<div th:replace="~{ /footer.html :: footer }"></div>
</body>
</html>ㄴ