<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{ /header.html :: header }"></div>
수정 페이지

<div>
    <form>
    <h3>수정 처리 할까요?</h3>
    <div>번호: <span class="no"></span></div>
    <div>아이디: <span class="id"></span></div>
    <div>수정할 이름 : <input class="name" type="text"/> <br/></div>
    <div>기존 비밀번호 : <input class="pw" type="text"/><br/></div>
    <div>새로운 비밀번호 : <input class="Newpw" type="text"/><br/></div>
    <div>수정할 연락처 : <input class="phone" type="text"/><br/></div>
    <div>이메일: <span class="email"></span></div>
    <button onclick="update()" type="button">확인</button>
    </form>
    
</div>


<script src="/js/member/update.js"></script>
<div th:replace="~{ /footer.html :: footer }"></div>

</body>
</html>