@font-face {
    font-family: 'HSSaemaul-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0px; margin: 8px;   /* 여백 제거*/
    list-style-type:none;     /*글머리 제거*/
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    font-family: 'HSSaemaul-Regular';
    
}

a{
    text-decoration: none;
    color: black;
}

/* 2. 헤더 메뉴 구역 */
.topMenu{
    display: flex;
    justify-content: space-between;

}

/* 2. 메인 메뉴 구역 */
#mainMenu{
    display:flex;
    margin: 0px;
}
#mainMenu >li{
    margin: 0px 25px;
    font-size: 20px;
}

/* 2. 로그인 메뉴 구역 */
#loginMenu{
    display: flex;
    margin: 0px;
}
#loginMenu >li{
    margin: 0px 10px;
}
